<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.rahul.project1.Student" name="student1">
        <property name="studentID" value="23424"/>
<!--            <value>22344</value>-->
<!--        </property>-->

        <property name="studentName" value="Rahul Verma"/>
<!--            <value>Rahul Verma</value>-->
<!--        </property>-->

        <property name="studentAddress" value="Rajasthan" />
<!--            <value>Rajasthan</value>-->
<!--        </property>-->

    </bean>

    <!-- second bean -->
    <bean class="com.rahul.project1.Student" name="student2">
        <property name="studentID" value="23232"/>

        <property name="studentName" value="Lucky Verma"/>

        <property name="studentAddress" value="Roorkee"/>
    </bean>



</beans>